.agecalculator{
    text-align: center;
}
#Date {
    width: 100%;
    height: 40px;
    font-size: x-large;
}
#label{
    font-size: large;
}
#button{
    width: 200px;
    font-size: medium;
}
